$color-primary: #37474f;
$color-primary-dark: #263238;
$color-primary-light: #546e7a;
$color-primary-lighter: #b0bec5;
$text-color: #fafafa;
$text-color-dark: #333;
$link-color: #444444;

$orange: #F7971D;
$black: #000;
$dark-gray: #1c1c1c;
$white: #fff;
$dark-white: #f5f5f5;

$border-color: rgba(176, 190, 197, 0.5);
$shadow-color: rgba(0, 0, 0, 0.2);
$shadow-color-dark: rgba(0, 0, 0, 0.25);

// MEDIA QUERIES
$w-xxl: 1400px;
$w-xl: 1200px;
$w-lg: 992px;
$w-md: 768px;
$w-sm: 576px;
$w-xs: 320px;
// MEDIA QUERIES
